<div class="container tab-pane" id="documents-001">
    <div class="row">
        <%= form_tag(anthology_path(id: anthology.friendly_id, docs: "search_results"), :method => "get", class: 'navbar-form navbar-left') do %>
            <div class="input-group form-group">
              <%= search_field_tag :title, params[:title], placeholder: "Title", class: "form-control" %>
              <div class="input-group-btn">
                <%= button_tag "Search", :class => 'btn btn-info',:name => nil %>
              </div>
            </div>
          <% end %>
          <%= form_tag(anthology_path(id: anthology.friendly_id, docs: "search_results"), :method => "get", class: 'navbar-form navbar-left') do %>
            <div class="input-group">
              <%= search_field_tag :author, params[:author], placeholder: "Author", class: "form-control" %>
              <div class="input-group-btn">
                <%= button_tag "Search", :class => 'btn btn-info',:name => nil %>
              </div>
            </div>
          <% end %>
        </div>
        <p style="font-style: italic">Search to add documents to your anthology: click All below to return to your anthology.</p>
</div>
