<div class="anthology-folder-list-container">
  <% get_folders(@anthology).sort { |a, b| a[:name] <=> b[:name] }.each do |folder| %>
    <%= link_to anthology_path(anthology: @anthology.id, folder: folder[:name], docs: 'folders'), :class => "#{'selected-folder-link' if params[:folder] == folder[:name]}" do %>
      <%= image_tag('folder-fill.svg') %>
      <p><%= folder[:name] %></p>
      <p class='folder-document-count'><%= folder[:count]  %> document<%= 's' if folder[:count] != 1 %></p>
    <% end %>
  <% end %>
</div>