<div class="anthology-folder-list-container">
  <% @anthology.owned_tags.sort { |a, b| a.name <=> b.name }.each do |tag| %>
    <%= link_to anthology_path(anthology: @anthology.id, folder: tag.name, docs: 'folders'), :class => "#{'selected-folder-link' if params[:folder] == tag.name}" do %>
      <%= image_tag('folder-fill.svg') %>
      <p><%= tag.name %></p>
      <p class='folder-document-count'><%= @anthology.documents.tagged_with(tag.name).count  %> document<%= 's' if tag.taggings_count != 1 %></p>
    <% end %>
  <% end %>
</div>