<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" id="dashboard-documents">
        <div class="panel-heading">
          <% if params[:folder] %>
            <span class="panel-title">Folder: <%= params[:folder] %></span>
          <% else %>
            <span class="panel-title">Documents</span>
          <% end %>
          <br/>
          <span class="panel-title" style="font-style: italic; font-size: 15px ">Click on Title, Author, Created to sort</span>
          <ul class="nav nav-tabs nav-tabs-xs pull-right" id="document-tabs" role="tablist">
            <% if ( @anthology.user == current_user ) || current_user.admin? %>
              <li class="<%= tab_state['search_results'] %>">
                <%= link_to anthology_path( docs: 'search_results', title: params[:title],author: params[:author], edition: params[:edition], id: anthology.friendly_id, tab: params[:tab] ), params do %>
                  <span class='badge'><%= search_documents_count %></span> Search Results
                <% end %>
              </li>
            <% end %>
            <li class="<%= tab_state['all'] %>">
              <%= link_to anthology_path( docs: 'all', title: params[:title],author: params[:author], edition: params[:edition], id: anthology.friendly_id, tab: params[:tab] ), params do %>
                <span class='badge'><%= all_documents_count %></span> All
              <% end %>
            </li>
            <li class="<%= tab_state['folders'] %>">
              <%= link_to anthology_path( docs: 'folders', title: params[:title],author: params[:author], edition: params[:edition], id: anthology.friendly_id, tab: params[:tab] ), params do %>
                <span class='badge'><%= @tag_count %></span> Folders
              <% end %>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane no-padding active" id="all">
            <% unless documents.blank? %>
              <% if tab_state['search_results'] %>
                <%= form_tag(anthology_add_path(anthology: anthology.id), :method => "post") do %>
                  <%= render partial: 'documents/document_table', locals: { documents: documents, tab_state: tab_state } %>
                <% end %>
              <% elsif tab_state['all'] %>
                <%= form_tag(anthology_remove_path(anthology: anthology.id), :method => "post") do %>
                  <%= render partial: 'documents/document_table', locals: { documents: documents, tab_state: tab_state } %>
                <% end %>
              <% elsif tab_state['folders'] %>
                <%= form_tag(anthology_tag_documents_path(anthology: anthology.id), :method => "post") do %>
                  <%= render partial: 'documents/document_table', locals: { documents: documents, tab_state: tab_state } %>
                <% end %>
              <% end %>
            <% else %>
              <div class="container">
                <tr>
                  <td colspan="6">No documents to view.</td>
                </tr>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer doc-set-footer">
          <% if documents.present? && documents.count > 0 %>
            <div class='pagination-controls'>
              <%= will_paginate documents, renderer: BootstrapPagination::Rails %>
            </div>
          <% end %>
        </div>
      </div><!--/panel -->
    </div><!--/col-md-12 -->
  </div>
</div>
