<div class="container tab-pane" id="users-001">
  <div class="row">
    <%= form_tag(anthology_path(id: anthology.friendly_id, docs: "search_results"), :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group form-group">
        <%= search_field_tag :email, params[:email], placeholder: "Email", class: "form-control" %>
        <%= hidden_field_tag :tab , "users" %>
        <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil %>
        </div>
    </div>
    <% end %>

    <%= form_tag(anthology_path(id: anthology.friendly_id, docs: "search_results"), :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group">
        <%= search_field_tag :name, params[:name], placeholder: "Full Name", class: "form-control" %>
        <%= hidden_field_tag :tab , "users" %>
        <div class="input-group-btn">
          <%= button_tag "Search", :class => 'btn btn-info',:name => nil %>
        </div>
        
    </div>
    <% end %>

    <% if can? :create, User %>

        <div class="dropdown" id="csv-dropdown">
          <button class="btn btn-primary dropdown-toggle" id="csv-upload-btn" data-toggle="dropdown">
            Invite from CSV
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu list-inline" aria-labelled-by="csv-upload-btn">
            <div class="csv-invite-how-to">
              <h5>How to use CSV imports:</h5>
              <p>Programs like Canvas and Blackboard usually offer the ability to export your list of students to a CSV file.</p>
              <p>In order to set up student accounts with the proper attributes, COVE Studio needs the following columns: <em>email</em>, <em>firstname</em>, and <em>lastname</em>. Column headers must conform exactly to these titles (all lower case) so your column headings may need to be edited if your CSV file was downloaded.</p>
              <p>Use our <%= link_to("example file", asset_path("example.csv"), :target => "_new")%> as a guide.</p>
            </div>
            <%= form_tag({:action => :csv_import, :controller => :users}, :multipart => true) do %>
              <%= hidden_field_tag :anthology_id , anthology.id %>
              <%= file_field_tag 'csv', class: 'btn btn-warning' %>
              <span class="right-button">
                <button class="btn btn-success csv-submit">
                  <span class="glyphicon glyphicon-upload"></span>
                  Submit
                </button>
              </span>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
