<%= content_for :body_id, 'users' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Users' %>
<% if current_user.admin? %>
  <div class="row">
    <%= form_tag(user_anthology_add_path, :method => "post") do %>
      <div class="panel panel-default" id="dashboard-documents">
        <div class="panel-heading">
          <span class="panel-title">Users</span>
        </div>
        <table class="table table-striped table-bordered">
          <tr>
            <th></th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <% if user.anthologies.include?(@anthology) %>
                <td><div class="<%= "user_of_#{user.id}" %>" ><%= check_box_tag 'user_ids[]', user.id,  :checked => "checked" %></div></td>
              <% else %>
                <td><div class="<%= "user_of_#{user.id}"%>" ><%= check_box_tag 'user_ids[]',  user.id %></div></td>
              <% end %>
              <td> <%= user.fullname %></td>
              <td> <%= user.email %></td>
              <td class="button-column">
                <% if user.anthologies.include?(@anthology) %>
                  <%= link_to 'Remove from anthology', { action: :remove_user, controller: 'users', anthology_id: @anthology.id, user_id: user.id }, method: :post, :class => 'btn btn-danger btn-sm' %>
                <% end %>
              </td>
            <% end %></tr>
        </table>
        <div class="panel-footer doc-set-footer">
          <%= button_tag "Add selected to anthology:", :class => 'btn btn-primary create-new-button',:name => nil%>
          <select name="anthology" id="anthology">
            <% @anthologies.each do |anthology| %>
              <% if anthology.id == @anthology.id %>
                <option selected="selected" value=<%= anthology.id %>><%= link_to anthology.name, documents_path(title: params[:title],author: params[:author], edition: params[:edition], anthology_id: anthology.id) %> </option>
              <% else %>
                <option value=<%= anthology.id %>><%= link_to anthology.name, documents_path(title: params[:title],author: params[:author], edition: params[:edition], anthology_id: anthology.id) %> </option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
  </div>
<% end %>
<% else %>
  <h3>You should be an admin to view this page</h3>
<% end %>
