<%= content_for :body_id, 'users' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Users' %>
<%= stylesheet_link_tag "users" %>
<div class="row">
  <%= form_tag(users_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group form-group">
      <%= search_field_tag :firstname, params[:firstname], placeholder: "First Name", class: "form-control" %>
      <%= hidden_field_tag :users, params[:users], value: 'search_results' %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
      </div>
    </div>
  <% end %>
  <%= form_tag(users_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group">
      <%= search_field_tag :lastname, params[:lastname], placeholder: "Last Name", class: "form-control" %>
      <%= hidden_field_tag :users, params[:users], value: 'search_results' %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
      </div>
    </div>
  <% end %>
  <%= form_tag(users_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group">
      <%= search_field_tag :email, params[:email], placeholder: "Email", class: "form-control" %>
      <%= hidden_field_tag :users, params[:users], value: 'search_results' %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="dashboard-users">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Users", users_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right active" id="user-tabs" role="tablist">
          <li class="<%= @tab_state['search_results'] %>">
            <%= link_to users_path( users: 'search_results', firstname: params[:firstname],lastname: params[:lastname], email: params[:email], anthology_id: params[:anthology_id] ), params do %>
              <span class='badge'><%= @search_users_count %></span> Search Results
            <% end %>
          </li>
          <li class="<%= @tab_state['all'] %>">
            <%= link_to users_path( users: 'all', firstname: params[:firstname],lastname: params[:lastname], email: params[:email], anthology_id: params[:anthology_id] ), params do %>
              <span class='badge'><%= @all_users_count %></span> All
            <% end %>
          </li>
        </ul>
      </div>
      <!-- / .panel-heading -->
      <div class="tab-content">
        <div class="tab-pane no-padding active" id="all">
          <% unless @users.blank? %>
            <%= render partial: 'user_table', locals: { users: @users } %>
          <% else %>
            <div class="container">
              <tr>
                <td colspan="6">No users to view.</td>
              </tr>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel-footer user-set-footer">
        <% if can? :create, User %>
          <div class="dropdown" id="csv-dropdown">
            <button class="btn btn-primary dropdown-toggle" id="csv-upload-btn" data-toggle="dropdown">
              Invite from CSV
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu list-inline" aria-labelled-by="csv-upload-btn">
              <li>
                <%= form_tag({:action => :csv_import}, :multipart => true) do %>
                  <%= file_field_tag 'csv' %>
                  <%= submit_tag 'Upload' %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <% if @users.present? && @users.count > 0 %>
          <div class='pagination-controls'>
            <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
          </div>
        <% end %>
      </div>
    </div><!--/panel -->
  </div><!--/col-md-12 -->
</div><!--/row -->


<script type="text/javascript">
  $(document).ready(
    function(){
      var hash = window.location.hash
      if (hash.length > 0){
        setTimeout(function(){
          console.log(hash);
          $(hash + "-tab").tab('show');
        },10);
      }
    }
  );
</script>
