    <div class="footer">
      <div class="container">
        <p class="text-muted"
          <a class="logo" href="http://covecollective.org/" target="_blank">
            <%= image_tag('cove_footer_logo.png', { alt: 'COVE Collective' }) %>
          </a>
          <a class="logo" href="http://web.mit.edu/" target="_blank">
            <%= image_tag('logo_mit.png', { alt: 'MIT' }) %>
          </a>
          <a class="logo" href="http://hyperstudio.mit.edu/" target="_blank">
            <%= image_tag('hs-logo-trans-horiz.png', { alt: 'HyperStudio' }) %>
          </a>
          <a class="logo" href="http://www.neh.gov/divisions/odh" target="_blank">
            <%= image_tag('neh_at_logo.png', { alt: 'NEH', id: 'neh-logo' }) %>
          </a>
          <span class="pull-right">&copy; <%= Time.now.year %></span>
        </p>
      </div>
    </div>
