<a class="navbar-brand" href="/">COVE Conferences <span style="color:<%= $DOMAIN_CONFIG['site_color'] %>;"><%= $DOMAIN_CONFIG['site_name'] %></span></a>

<ul class="nav navbar-nav pull-right hidden-xs" id="globalnav">

<% if user_signed_in? %>
	<li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to("My Profile", edit_user_registration_path, :id => "user-account-edit") %></li>
	<li><a href="http://support.performantsoftware.com/c/cove" target="_blank">Help <i class="fa fa-external-link-square"></i></a></li>
	<li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to('Logout', destroy_user_session_path) %></li>
	<% if can? :manage, UserSet %>
	<li class="<%= 'active' if current_page?(admin_students_path) %>"><%= link_to(raw('Manage Users <i class="fa fa-external-link-square"></i>'), admin_students_path, :target => '_blank') %></li>
	<% end %>

<% else %>
	<li><a class="navbar-link" href="/users/sign_in#email-login">Log in</a></li>
<% end %>

	<li class="header-logo">
		<%= link_to(image_tag("NAVSAlogo.png"), "http://navsa.org") %>
	</li>
	<li class="header-logo divider"> | </li>
	<li class="header-logo">
		<%= link_to("BAVS", "https://bavs.ac.uk/") %>
	</li>
	<li class="header-logo divider"> | </li>
	<li class="header-logo">
		<%= link_to("AVSA", "http://www.avsa.unimelb.edu.au/") %>
	</li>
	<li class="header-logo divider"> | </li>
	<li class="header-logo">
		<%= link_to("NASSR", "https://www.nassr.ca//") %>
	</li>
</ul>
