<table class="table table-striped table-bordered">
  <% if controller_name == 'anthologies' %>
    <% if current_user.admin? || @anthology.user == current_user %>
      <div class="doc-table-flex-row">
        <%= hidden_field_tag 'page', params[:page] %>
        <%= hidden_field_tag 'title', params[:title] %>
        <%= hidden_field_tag 'author', params[:author] %>
        <%= hidden_field_tag 'docs', params[:docs] %>
        <%= hidden_field_tag 'tab_state', params[:tab_state] %>
        <div>
          <button id='document-form-select-all' class='btn btn-primary btn-sm' type='button' onClick='selectAll()'>Select All</button>
          <button id='document-form-select-all' class='btn btn-warning btn-sm' type='button' onClick='deselectAll()'>Deselect All</button>
        </div>
        <% if @tab_state['search_results'] %>
          <%= submit_tag "Add selected to anthology", :class => 'btn btn-primary btn-sm add-selected-documents-btn' %>
        <% elsif @tab_state['all'] %>
          <%= submit_tag "Remove selected from anthology", :class => 'btn btn-danger btn-sm add-selected-documents-btn' %>
        <% elsif @tab_state['folders'] %>
          <div class="input-group create-new-tag">
            <%= submit_tag "Create and add:", :class => 'btn btn-primary btn-sm add-selected-documents-btn' %>
            <%= text_field_tag :tag_name_new, "", :class => 'form-control', :placeholder => 'Add to new folder' %>
          </div>
          <div class="input-group add-selected-tags">
            <%= submit_tag "Add to existing folder:", :class => 'btn btn-primary btn-sm add-selected-documents-btn' %>
            <%= select_tag :tag_name_dropdown, options_for_select(@anthology.owned_tags.map { |tag| tag.name }), include_blank: true, :class => 'form-control' %>
          </div>
        <% end %>
      </div>
      <% if params[:folder] %>
        <div class="doc-table-flex-row">
          <p class='text-center'><%= "Showing \"#{params[:folder]}\" documents." %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <tr>
    <% if current_user.admin? || @anthology.user == current_user %>
      <th>Select</th>
    <% end %>
    <th>
      <% if %w[documents].include?(controller_name) %>
        <%= link_to "Title", documents_path( order: "title", docs: params[:docs], title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ) %>
      <% else %>
        <%= link_to "Title", anthology_path(@anthology, order: "title", title: params[:title], author: params[:author], page: params[:page], docs: params[:docs]) %>
      <% end %>
    </th>
    <th>
      <% if %w[documents].include?(controller_name) %>
        <%= link_to "Author", documents_path( order: "author", docs: params[:docs], title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ) %>
      <% else %>
          <%= link_to "Author", anthology_path(@anthology, order: "author", title: params[:title], author: params[:author], page: params[:page], docs: params[:docs]) %>
      <% end %>
    </th>
    <th>
      <% if %w[documents].include?(controller_name) %>
        <%= link_to "Created", documents_path( order: "created_at", docs: params[:docs], title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ) %>
      <% else %>
          <%= link_to "Created", anthology_path(@anthology, order: "created_at", title: params[:title], author: params[:author], page: params[:page], docs: params[:docs]) %>
      <% end %>
    </th>
    <% if %w[anthologies].exclude?(controller_name) and current_user.admin?%>
    <th><%= ENV["CLASS_TERM_PLURAL"] %></th>
    <% end %>
    <% if controller_name == 'anthologies' and @anthology.owned_tags.count > 0 and (!params[:folder] || current_user.admin? || @anthology.user == current_user) %>
      <th>Folders</th>
    <% end %>
    <% if %w[anthologies documents].include?(controller_name) %>
      <th>Vetted</th>
    <% end %>
    <% if current_user.admin?%>
      <th>Status</th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% documents.each do |document| %>
    <tr>
      <% if current_user.admin? || @anthology.user == current_user %>
        <td class="button-column">
          <%= check_box_tag 'document_ids[]', document.id, false, :class => 'document-checkbox' %>
        </td>
      <% end %>
      <td>
        <% if controller_name == 'anthologies' %>
          <%= link_to document.title, anthology_document_path(@anthology.friendly_id, document.friendly_id) %></td>
        <% else %>
          <%= link_to document.title, document_path(document.friendly_id) %>
        <% end %>
        </td>
        <td>
          <%= document.author %></td>
        <td>
          <%= document.created_at.strftime("%m/%d/%Y") %></td>
        <% if %w[anthologies].exclude?(controller_name) and current_user.admin?%>
          <td>
            <% document.rep_group_list.each do |group| %>
            <span class="label label-info">
          <%= group %></span>
            <% end %></td>
        <% end %>
        <% if controller_name == 'anthologies' and @anthology.owned_tags.count > 0 and (!params[:folder] || current_user.admin? || @anthology.user == current_user) %>
          <td>
            <div class="doc-folder-cell-content">
              <% document.owner_tags_on(@anthology, :rep_folder).each do |tag| %>
                <span class="label label-info">
                  <%= link_to tag, anthology_path(anthology: @anthology.id, folder: tag.name, docs: 'folders'), :class => 'white-color' %>
                  <% if current_user.admin? || @anthology.user == current_user %>
                    <%= link_to "X", anthology_tag_documents_path(anthology: @anthology.id, document_id: document.id, tag_to_remove: tag.name), method: :post %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </td>
        <% end %>
        <% if %w[anthologies documents].include?(controller_name) %>
          <td>
            <% if document.vetted.present? %>
              <span class="glyphicon glyphicon-check" style="color:springgreen;">
            <% else %>
              <span class="glyphicon glyphicon-ban-circle" style="color:red;">
            <% end %>
          </td>
        <% end %>
        <% if current_user.admin? %>
          <td>
            <% if can? :update, document %>
              <div class="btn-group" role="group" aria-label="document states">

                <% if document.draft? %>
                  <%= link_to 'Editable', "#", :class => 'btn btn-default btn-sm active' %>
                <% else %>
                  <%= link_to 'Editable', "#", :class => 'btn btn-default btn-sm disabled' %>
                <% end %>


                <% if document.annotatable? %>
                  <%= link_to 'Annotatable', document_annotatable_path(document), method: :post, :class => 'btn btn-default btn-sm active' %>
                <% else %>
                  <%= link_to 'Annotatable', document_annotatable_path(document), method: :post, :class => 'btn btn-default btn-sm' %>
                <% end %>


                <% if document.review? %>
                  <%= link_to 'Reviewable', document_review_path(document), method: :post, :class => 'btn btn-default btn-sm active' %>
                <% else %>
                  <%= link_to 'Reviewable', document_review_path(document), method: :post, :class => 'btn btn-default btn-sm' %>
                <% end %>


                <% if document.published? %>
                  <%= link_to 'Publishable', document_publish_path(document), method: :post, :class => 'btn btn-default btn-sm active' %>
                <% else %>
                  <%= link_to 'Publishable', document_publish_path(document), method: :post, :class => 'btn btn-default btn-sm' %>
                <% end %>


                <% if document.archived? %>
                    <%= link_to 'Hidden', document_archive_path(document), method: :post, :class => 'btn btn-default btn-sm active' %>
                <% else %>
                    <%= link_to 'Hidden', document_archive_path(document), method: :post, :class => 'btn btn-default btn-sm' %>
                <% end %>
              </div>
            <% else %>
              <%= document.state %>
            <% end %>
          </td>
        <% end %>
        <td class="button-column">
          <% if can? :update, document %>
                <% if document.draft? %>
                    <% if controller_name == 'anthologies' %>
                        <%= link_to 'Edit', edit_anthology_document_path(@anthology.friendly_id,document.friendly_id), :class => 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'top', original_title: 'Text and Metadata are editable' } %>
                    <% else %>
                        <%= link_to 'Edit', edit_document_path(document), :class => 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'top', original_title: 'Text and Metadata are editable' } %>
              <% end %>
            <% else %>
              <% if controller_name == 'anthologies' %>
                <%= link_to 'Edit', edit_anthology_document_path(@anthology.friendly_id,document.friendly_id), :class => 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'top', original_title: 'Only metadata are editable' } %>
              <% else %>
                <%= link_to 'Edit', edit_document_path(document), :class => 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'top', original_title: 'Only metadata are editable' } %>
              <% end %>
            <% end %>
          <% end %>
          <% if controller_name == 'anthologies' %>
            <% if current_user.admin? || @anthology.user == current_user %>
              <% if document.anthologies.include?(@anthology)  %>
                <%= link_to 'Remove from anthology',
                  { action: :anthology_remove, controller: 'documents', anthology: @anthology.id, document_ids: [document.id], title: params[:title], author: params[:author], page: params[:page], tab_state: tab_state}, method: :post, :class => 'btn btn-danger btn-sm' %>
              <% else %>
                <%= link_to 'Assign to Anthology',
                  { action: :anthology_add, controller: 'documents', anthology: @anthology.id, document_ids: [document.id], title: params[:title], author: params[:author], page: params[:page], tab_state: tab_state}, method: :post, :class => 'btn btn-primary btn-sm' %>
              <% end %>
            <% end %>
          <% end %>
          <% if controller_name != 'anthologies' %>
            <% if can? :destroy, document %>
              <%= link_to 'Delete',url_for(action: :destroy,id: document.id),method: :delete,:class => 'btn btn-danger btn-sm', data: {confirm: "Are you sure you want to delete this document permanently? All annotations on this document will also be permanently invalidated. There is no undo"} %>
            <% end %>
          <% end %>
          <% end %>
        </td>
        </tr>
    </table>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      const selectAll = () => {
        const boxes = document.getElementsByClassName('document-checkbox')
        for (let x = 0; x < boxes.length; x++) {
          boxes[x].checked = true
        }
      }

      const deselectAll = () => {
        const boxes = document.getElementsByClassName('document-checkbox')
        for (let x = 0; x < boxes.length; x++) {
          boxes[x].checked = false
        }
      }
    </script>
