<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Documents' %>
<%= stylesheet_link_tag "documents" %>
<div class="row">
  <%= form_tag(documents_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group form-group">
      <%= search_field_tag :title, params[:title], placeholder: "Title", class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
      </div>
    </div>
  <% end %>
  <%= form_tag(documents_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group">
      <%= search_field_tag :author, params[:author], placeholder: "Author", class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
      </div>
    </div>
  <% end %>
  <%= form_tag(documents_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group">
      <%= search_field_tag :edition, params[:edition], placeholder: "Edition", class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class => 'btn btn-info',:name => nil%>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="dashboard-documents">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Documents", documents_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="document-tabs" role="tablist">
          <li class="<%= @tab_state['search_results'] %>">
            <%= link_to documents_path( docs: 'search_results', title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ), params do %>
              <span class='badge'><%= @search_documents_count %></span> Search Results
            <% end %>
          </li>
          <li class="<%= @tab_state['assigned'] %>">
            <%= link_to documents_path( docs: 'assigned', title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ), params do %>
              <span class='badge'><%= @assigned_documents_count %></span> Shared
            <% end %>
          </li>
          <li class="<%= @tab_state['created'] %>">
            <%= link_to documents_path( docs: 'created', title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ),params do %>
              <span class='badge'><%= @created_documents_count %></span> Mine
            <% end %>
          </li>
          <li class="<%= @tab_state['vetted'] %>">
            <%= link_to documents_path( docs: 'vetted', title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ),params do %>
              <span class='badge'><%= @vetted_documents_count %></span> Vetted
            <% end %>
          </li>
          <% if can? :manage, Document %>
            <li class="<%= @tab_state['all'] %>">
              <%= link_to documents_path( docs: 'all', title: params[:title],author: params[:author], edition: params[:edition], anthology_id: params[:anthology_id] ), params do %>
                <span class='badge'><%= @all_documents_count %></span> All
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- / .panel-heading -->
      <div class="tab-content">
        <div class="tab-pane no-padding active" id="all">
          <% unless @documents.blank? %>
            <%= form_tag(anthology_add_path, :method => "post") do %>
              <%= render partial: 'document_table', locals: { documents: @documents } %>
              <%= button_tag "Add selected to anthology:", :class => 'btn btn-primary create-new-button',:name => nil%>
              <select name="anthology" id="anthology">
                <% @anthologies.each do |anthology| %>
                  <% if anthology.id == @anthology.id %>
                    <option selected="selected" value=<%= anthology.id %>><%= link_to anthology.name, documents_path(title: params[:title],author: params[:author], edition: params[:edition], anthology_id: anthology.id) %> </option>
                  <% else %>
                    <option value=<%= anthology.id %>><%= link_to anthology.name, documents_path(title: params[:title],author: params[:author], edition: params[:edition], anthology_id: anthology.id) %> </option>
                  <% end %>
                <% end %>
              </select>
            <% end %>
          <% else %>
            <div class="container">
              <tr>
                <td colspan="6">No documents to view.</td>
              </tr>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel-footer doc-set-footer">
        <% if can? :create, Document %>
          <%= link_to document_path('new'), class: 'btn btn-primary create-new-button' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Document
          <% end %>
        <% end %>
        <% if @documents.present? && @documents.count > 0 %>
          <div class='pagination-controls'>
            <%= will_paginate @documents, renderer: BootstrapPagination::Rails %>
          </div>
        <% end %>
      </div>
    </div><!--/panel -->
  </div><!--/col-md-12 -->
</div><!--/row -->


<script type="text/javascript">
  $(document).ready(
    function(){
      var hash = window.location.hash
      if (hash.length > 0){
        setTimeout(function(){
          console.log(hash);
          $(hash + "-tab").tab('show');
        },10);
      }
    }
  );
</script>
