<h2>Hello, <%= resource.email %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :invitation_token %>

  <h3>You have been invited to a COVE Studio anthology. Log in to accept.</h3>

  <%= render :partial => "/devise/sessions/invite_sign_in", :locals => {:f => f, :resource => resource} %>
<% end %>
